<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title><%= title %></title>
  <style>
    /* Hide the scrollbar on Webkit browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
      width: 0.5rem; /* Adjust this width as needed */
    }

    ::-webkit-scrollbar-thumb {
      background: transparent; /* Hide the thumb */
    }
  </style>
</head>
<body>
  <!-- component -->
  <!-- friends chat logo -->
  <%- include('_navbar') %>

<div class="flex h-screen antialiased text-gray-800 overflow-y-hidden ">
  <div class="flex flex-row h-full w-full overflow-x-hidden">
    
    <%- include('_friends') %>
    <!-- posts -->

    <%- include( '_posts') %>

    <!-- Chat box -->
    <%- include('_chatbox')  %>
    
  </div>
</div>
</body>
</html>

